language: php

sudo: required

notifications:
  email:
    - braghim.sistemas@gmail.com

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

services:
  - mysql

env:
  global:
    - DEVELOPMENT=true
    - SHOW_ERRORS=true

    - TRAVIS=true

matrix:
  fast_finish: true
  allow_failures:
      - php: hhvm

before_install:
  - mysql -e "create database IF NOT EXISTS test;" -uroot

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install
  - git config --global user.name braghimsistemas
  - git config --global user.email braghim.sistemas@gmail.com

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit

after_script:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php vendor/bin/php-coveralls -v; fi;'
