language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

env:
  global:
    - DEVELOPMENT=true
    - SHOW_ERRORS=true

matrix:
  fast_finish: true
  allow_failures:
      - php: 5.5
      - php: hhvm

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install
  - git config --global user.name braghimsistemas
  - git config --global user.email braghim.sistemas@gmail.com

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

#after_success:
#  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php vendor/bin/coveralls -v; fi;'
