language: php

sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly
  
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

before_script:
    - composer install
    - bin/composer install
    - git config --global user.name braghim.sistemas
    - git config --global user.email braghim.sistemas@gmail.com
