<?xml version="1.0" encoding="UTF-8"?>
<!--
	phpunit -c phpunit.xml
-->
<phpunit convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 syntaxCheck="true"
		 bootstrap="./test/setup.php"
		 colors="true">

	<testsuites>
		<testsuite name="test">
			<directory>./suitup-php/test/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./suitup-php/library</directory>
		</whitelist>
	</filter>

	<php>
		<ini name="date.timezone" value="America/Sao_Paulo" />
	</php>
</phpunit>
