<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
     bootstrap="./test/bootstrap.php"
		 colors="true">

	<testsuites>
		<testsuite name="test">
			<directory>./test</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
			<exclude>
        <directory>./_src</directory>
				<directory>./build</directory>
				<directory>./test</directory>
        <directory>./test/resources</directory>
				<directory>./vendor</directory>
        <directory>./src/ModuleError</directory>
        <directory>./src/Exception</directory>
        <directory>./src/Enum</directory>
			</exclude>
		</whitelist>
	</filter>

	<php>
		<ini name="date.timezone" value="America/Sao_Paulo" />
    <server name="DOCUMENT_ROOT" value="./test/" />
    <env name="IS_TESTCASE" value="1" />
    <env name="DEVELOPMENT" value="0" />
    <env name="SHOW_ERRORS" value="0" />
	</php>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
